.main{
    height: 400px;
    width: 960px;
    background-color: grey;
    margin: auto;
}
.one{
    background-image: url(image/img1.jfif);
    background-size: 250px;
    background-repeat: no-repeat;
    display: inline-block; 
    height: 300px;
    width: 250px;
    background-size: 200px 150px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 5px;
}
.two{
    background-image: url(image/img2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block; 
    height: 300px;
    width: 250px;
    background-size: 200px 150px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 100px;
    border-radius: 5px;
}
.three{
    background-image: url(image/img3.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block; 
    height: 300px;
    width: 250px;
    background-size: 200px 150px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 150px;
    border-radius: 5px;
}
h4{
    top: 140px;
    left: 10px;
    position: relative;
}
p{
    top: 120px;
    left: 10px;
    position: relative;
    text-align: justify;
}
button{
    top: 120px;
    position: relative;
    left: 15px;
    background-color: rgb(31, 132, 214);
    color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
}